{% include 'TODOListBundle:Main/index.html.twig' %}
<h1>TaskLists</h1>
<a href="{{ path("todolist_googleapi_new_tasks", { "idTaskList" : app.request.get("idTaskList")}) }}">New task</a>
{% if tasks.data|length > 0 %}
    <ul>
        {% for task in tasks %}
            <li>
                <form name="form" action="{{ path("todolist_googleapi_delete_tasks", { "idTaskList" : app.request.get("idTaskList")}) }}" method="post">
                    <input type="hidden" name="idTask" value="{{ task.id }}"/>
                    <input type="submit" value="Delete" name="delete"/>
                </form>
                <a href="{{ path("todolist_googleapi_update_tasks", { "idTask" : task.id, "idTaskList" : app.request.get("idTaskList")}) }}">Update</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                {{ task.title }} : {{ task.notes }}
            </li>
        {% endfor %}
    </ul>
{% endif %}